
/*
Make the document fill the whole viewport, this overrides any weird defaults that browsers might have.
*/
html, body, figure {
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
}

html {
	font-family: helvetica, sans-serif;
}

body {
	background-color: rgba(150, 32, 93, 0.8);
}

.proj_img {
	background-color: rgba(0, 0, 0, 0)
}

p {
	text-align: justify;
}

.navbar {
  background-color: black;
  /*border-radius: 30px;*/
	position: fixed; /* Set the navbar to fixed position */
 	top: 0; /* Position the navbar at the top of the page */
	width: 100%;
}

.navbar li {
	display: flex;
  list-style: none;
  margin: 13px 20px;
	display: inline-block;
}

.navbar li:first-child {
  float: left;
}

.navbar ul {
  overflow: auto;
  margin: 0 auto;
  padding: 0;
}

#menu {
  text-align:right;
	width: 100%;
}

.navbar li a {
  padding: 10px 25px;
	display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
	letter-spacing:.2em;
}

.navbar li a:hover {
  color: rgba(150, 32, 93, 0.8)
}

#intro {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	margin-top: 10px;
}

#top {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	margin-top: 10px;
}

.select-label {
  margin-right: 10px;
  font-size: 1rem;
	align-items: center;
	justify-content: center;
}

#options {
  display: flex;
  flex: 1;
  flex-direction: row;
}
#genres {
  align-items: center;
  justify-content: center;
}
#metrics {
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
#years {
  align-items: center;
  justify-content: center;
}
